<template>
    <v-card>
        <v-card-title class="blue-grey lighten-5 mb-4 title">Calendario de Citas</v-card-title>

        <v-card-text>
            <v-container grid-list-lg>
                <v-layout fill-height align-content-center>
                    <v-flex>
                        <v-sheet height="64">
                            <v-toolbar flat color="white">
                                <v-btn outlined class="mr-4" @click="setToday" v-text="'Hoy'" />

                                <v-btn fab text small @click="prev">
                                    <v-icon right v-text="'mdi-chevron-left'" />
                                </v-btn>

                                <v-btn fab text small @click="next">
                                    <v-icon right v-text="'mdi-chevron-right'" />
                                </v-btn>

                                <v-toolbar-title>{{ title }}</v-toolbar-title>
                                <v-spacer />

                                <v-menu bottom right>
                                    <template v-slot:activator="{ on }">
                                        <v-btn outlined v-on="on">
                                            <span>{{ typeToLabel[type] }}</span>
                                            <v-icon right v-text="'mdi-chevron-down'" />
                                        </v-btn>
                                    </template>

                                    <v-list>
                                        <v-list-item @click="type = 'day'">
                                            <v-list-item-title>Dia</v-list-item-title>
                                        </v-list-item>

                                        <v-list-item @click="type = 'week'">
                                            <v-list-item-title>Semana</v-list-item-title>
                                        </v-list-item>

                                        <v-list-item @click="type = 'month'">
                                            <v-list-item-title>Mes</v-list-item-title>
                                        </v-list-item>

                                        <v-list-item @click="type = '4day'">
                                            <v-list-item-title>4 dias</v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                            </v-toolbar>
                        </v-sheet>

                        <v-sheet height="600">
                            <v-calendar
                                ref="calendar"
                                v-model="focus"
                                color="deep-orange"
                                :events="events"
                                :event-color="getEventColor"
                                :event-margin-bottom="3"
                                :now="today"
                                :type="type"
                                @click:event="showEvent"
                                @click:more="viewDay"
                                @click:date="viewDay"
                                @change="updateRange"
                            />

                            <v-menu
                                v-model="selectedOpen"
                                :close-on-content-click="false"
                                :activator="selectedElement"
                                full-width
                                offset-x
                            >
                                <v-card color="grey lighten-4" min-width="350px" flat>
                                    <v-toolbar :color="selectedEvent.color" dark>
                                        <v-toolbar-title v-text="selectedEvent.name" />
                                        <v-spacer />
                                        <v-chip
                                            v-if="selectedOpen"
                                            class="font-weight-bold"
                                            small
                                            outlined
                                            v-text="selectedEvent.status"
                                        />
                                    </v-toolbar>

                                    <v-card-text>
                                        <i class="mdi mdi-email" />
                                        : {{ selectedEvent.email }},
                                        <br />
                                        <i class="mdi mdi-cellphone" />
                                        : {{ selectedEvent.phone }},
                                        <br />
                                        <i class="mdi mdi-instagram" />
                                        : {{ selectedEvent.instagram }}
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-btn
                                            text
                                            small
                                            color="secondary"
                                            @click="selectedOpen = false"
                                            v-text="'Cerrar'"
                                        />
                                    </v-card-actions>
                                </v-card>
                            </v-menu>
                        </v-sheet>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
    </v-card>
</template>
<script>
import { appointmentService } from "../../services";

export default {
    data: () => ({
        today: null,
        focus: null,
        type: "month",
        typeToLabel: {
            month: "Mes",
            week: "Semana",
            day: "Dia",
            "4day": "4 Dias"
        },
        start: null,
        end: null,
        selectedEvent: {},
        selectedElement: null,
        selectedOpen: false,
        events: []
    }),
    mounted() {
        this.today = this.$moment().format("YYYY-MM-DD");
        this.focus = this.today;
        this.getData();
    },
    computed: {
        title() {
            const { start, end } = this;
            if (!start || !end) {
                return "";
            }

            const startMonth = this.monthFormatter(start);
            const endMonth = this.monthFormatter(end);
            const suffixMonth = startMonth === endMonth ? "" : endMonth;

            const startYear = start.year;
            const endYear = end.year;
            const suffixYear = startYear === endYear ? "" : endYear;

            const startDay = start.day + this.nth(start.day);
            const endDay = end.day + this.nth(end.day);

            switch (this.type) {
                case "month":
                    return `${startMonth} ${startYear}`;
                case "week":
                case "4day":
                    return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`;
                case "day":
                    return `${startMonth} ${startDay} ${startYear}`;
            }
            return "";
        },
        monthFormatter() {
            return this.$refs.calendar.getFormatter({
                timeZone: "UTC",
                month: "long"
            });
        }
    },
    methods: {
        async getData(q) {
            try {
                const { data } = await appointmentService.getAll(q || null);
                data.data.map(item => {
                    if (item.date && item.time && item.status !== 3) {
                        this.events.push({
                            name: item.name,
                            email: item.email,
                            phone: item.phone,
                            instagram: item.ig_user,
                            start: `${item.date} ${item.time}`,
                            color: this.status(item.status).color,
                            status: this.status(item.status).text
                        });
                    }
                });
            } catch (e) {
                console.log(e);
            }
        },
        status(value) {
            switch (value) {
                case 0:
                    return { color: "grey", text: "Pendiente" };
                    break;

                case 1:
                    return { color: "primary", text: "Aprobado" };
                    break;

                case 2:
                    return { color: "success", text: "Confirmado" };
                    break;
                    break;

                default:
                    console.log(`This status is not defined`)
                    break;
            }
        },
        viewDay({ date }) {
            this.focus = date;
            this.type = "day";
        },
        getEventColor(event) {
            return event.color;
        },
        setToday() {
            this.focus = this.today;
        },
        prev() {
            this.$refs.calendar.prev();
        },
        next() {
            this.$refs.calendar.next();
        },
        showEvent({ nativeEvent, event }) {
            const open = () => {
                this.selectedEvent = event;
                this.selectedElement = nativeEvent.target;
                setTimeout(() => (this.selectedOpen = true), 10);
            };

            if (this.selectedOpen) {
                this.selectedOpen = false;
                setTimeout(open, 10);
            } else open();

            nativeEvent.stopPropagation();
        },
        updateRange({ start, end }) {
            // You could load events from an outside source (like database) now that we have the start and end dates on the calendar
            this.start = start;
            this.end = end;
        },
        nth(d) {
            return d > 3 && d < 21
                ? "th"
                : ["th", "st", "nd", "rd", "th", "th", "th", "th", "th", "th"][
                      d % 10
                  ];
        }
    }
};
</script>