<template>
    <v-card>
        <v-card-title class="blue-grey lighten-5 mb-4 title">Accesos Directos</v-card-title>

        <v-card-text>
            <v-container grid-list-lg>
                <v-layout align-center justify-center wrap row>
                    <v-flex v-for="(item, i) in items" :key="i" xs12 sm6 md3>
                        <v-btn
                            title
                            x-large
                            block
                            :color="item.color"
                            :dark="item.dark"
                            :to="item.to"
                        >
                            <v-icon large v-text="item.icon" />
                            <span class="px-2">{{ item.text }}</span>

                            <v-badge
                                v-if="item.badget && item.badget.data() > 0"
                                :color="item.badget.color"
                            >
                                <template v-slot:badge>
                                    <span>{{ item.badget.data() }}</span>
                                </template>
                            </v-badge>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
    </v-card>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
    name: "QuickAccessButtons",
    data() {
        return {
            items: [
                {
                    text: "Citas",
                    color: "primary",
                    to: "/admin/appointment",
                    icon: "mdi-account-group",
                    badget: {
                        color: "red",
                        data: () => this.pendings
                    }
                },
                {
                    text: "Categorias",
                    color: "success",
                    to: "/admin/categories",
                    icon: "mdi-folder-multiple"
                },
                {
                    text: "Rubros",
                    color: "amber accent-4",
                    dark: true,
                    to: "/admin/items",
                    icon: "mdi-office-building"
                },
                {
                    text: "RRSS",
                    color: "teal accent-4",
                    dark: true,
                    to: "/admin/socials",
                    icon: "mdi-share-variant"
                }
            ]
        };
    },
    computed: {
        ...mapState("data", ["pendings"])
    },
    methods: {
        ...mapActions("data", ["getPendings"])
    },
    mounted() {
        this.getPendings();
    }
};
</script>