<template>
    <v-layout justify-center row>
        <v-flex xs12 sm8 md6>
            <v-stepper v-model="currentStep" vertical>
                <template v-for="item in steps">
                    <div :key="item.step">
                        <v-stepper-step :complete="currentStep > item.step" :step="item.step" :color="color">
                            {{ item.title }}
                            <small v-html="item.description" />
                        </v-stepper-step>

                        <v-stepper-content :step="item.step">
                            <v-autocomplete
                                v-if="item.step === 2"
                                class="ma-2"
                                :color="color"
                                label="Rubros"
                                :items="item.fields"
                                v-model="form.id_item"
                                outlined
                            />

                            <v-form class="ma-2">
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <template v-for="(field, index) in item.fields">
                                            <template v-if="item.step === 1 || item.step === 3">
                                                <v-flex xs12 sm6 md4 :key="index">
                                                    <v-checkbox
                                                        :color="color"
                                                        v-model="form[field.field]"
                                                        :label="field.text"
                                                        :value="field"
                                                    />
                                                </v-flex>
                                            </template>

                                            <template v-else-if="item.step === 4">
                                                <v-flex
                                                    :key="index"
                                                    v-if="field.value !== 'description' && field.active"
                                                    :class="steps[3].fields.find(key => key.value === 'skype_user').active && field.value === 'enterpriceName' && field.active ? 'xs12' : 'xs12 sm6'"
                                                >
                                                    <v-text-field
                                                        :color="color"
                                                        :label="field.label"
                                                        outlined
                                                        :type="field.value === 'phone' ? 'number' : 'text'"
                                                        :onkeydown="field.value === 'phone' ? 'return event.keyCode !== 69' : false"
                                                        v-model="form[field.value]"
                                                        v-validate="field.veeValidate"
                                                        :data-vv-name="field.value"
                                                        :data-vv-as="field.label"
                                                        :error-messages="errors.first(field.value)"
                                                        :maxlength="field.length"
                                                        :disabled="loading"
                                                    />
                                                </v-flex>

                                                <v-flex xs12  :key="index" v-else-if="field.active">
                                                    <v-textarea
                                                        :color="color"
                                                        :label="field.label"
                                                        outlined
                                                        v-model="form[field.value]"
                                                        v-validate="field.veeValidate"
                                                        :data-vv-name="field.value"
                                                        :data-vv-as="field.label"
                                                        :error-messages="errors.first(field.value)"
                                                        :counter="field.length"
                                                        :maxlength="field.length"
                                                        :disabled="loading"
                                                    />
                                                </v-flex>
                                            </template>
                                        </template>
                                    </v-layout>
                                </v-container>

                                <v-btn
                                    v-show="currentStep !== 1"
                                    rounded
                                    outlined
                                    small
                                    @click="--currentStep"
                                    v-text="'< Regresar'"
                                />

                                <v-btn
                                    rounded
                                    dark
                                    small
                                    depressed
                                    :color="color"
                                    :disabled="validation(item.step)"
                                    @click="handleNextStep(item.step)"
                                    :loading="loading"
                                >
                                    Continuar
                                </v-btn>
                            </v-form>
                        </v-stepper-content>
                    </div>
                </template>
            </v-stepper>
        </v-flex>
    </v-layout>
</template>
<script>
    export default {
        data () {
            return {
                currentStep: 1,
                color: 'deep-orange',
                loading: false,
                form: {
                    name: null,
                    lastname: null,
                    phone: null,
                    email: null,
                    ig_user: null,
                    skype_user: null,
                    enterpriceName: null,
                    description: null,
                    id_item: null,
                    categories: [],
                    contact: [],
                },
                steps: [
                    {
                        step: 1,
                        title: 'Servicio',
                        description: 'Selecciona un tipo de servicio. Puedes escoger mas de uno si lo deseas',
                        fields: []
                    },
                    {
                        step: 2,
                        title: 'Rubro',
                        description: 'Selecciona un Rubro en el que trabajas o al que pertenece tu empresa',
                        fields: []
                    },
                    {
                        step: 3,
                        title: 'Pongamonos en Contacto',
                        description: 'Que medio prefieres para comunicarnos',
                        fields: []
                    },
                    {
                        step: 4,
                        title: 'Datos Personales',
                        description: 'Pedimos algunos de datos identificación sólo para comunicarnos contigo <b class="font-weight-black">(no te robaremos tus datos personales y los venderemos como hace facebook)</b>',
                        fields: [
                            { active: true, label: 'Nombre', value: 'name', veeValidate: 'required|alpha_spaces|min:2|max:50', length: 50 },
                            { active: true, label: 'Apellido', value: 'lastname', veeValidate: 'required|alpha_spaces|min:2|max:50', length: 50 },
                            { active: true, label: 'Telefono', value: 'phone', veeValidate: 'required|numeric|min:2|max:16', length: 16 },
                            { active: true, label: 'email', value: 'email', veeValidate: 'required|email|min:2|max:50', length: 50 },
                            { active: true, label: 'Instagram', value: 'ig_user', veeValidate: 'required|min:2|max:50', length: 50 },
                            { active: true, label: 'Skype', value: 'skype_user', veeValidate: 'required|min:2|max:50', length: 50 },
                            { active: true, label: 'Nombre de Emprendimiento', value: 'enterpriceName', veeValidate: 'required|min:2|max:50', length: 50 },
                            { active: true, label: 'Descripción', value: 'description', veeValidate: 'required|min:2|max:150', length: 150 },
                        ]
                    }
                ]
            }
        },
        mounted() {
            this.services()
            this.items()
            this.contact()
        },
        watch: {
            form: {
                handler(val) {
                    if (val.contact.length > 0) {
                        let active = val.contact.find(key => key.text.toLowerCase() === 'skype')
                        let field = this.steps[3].fields.find(key => key.value === 'skype_user')
                        field.active = active ? true : false
                    }
                },
                deep: true
            }
        },
        methods: {
            indexedArray(array) {
                let data = []
                
                array.map(item => {
                    data.push(item.value)
                })

                return data
            },
            async services() {
                try {
                    const { data } = await axios.get('/api/categories')
                    data.data.map(item => {
                        if (item.active) {
                            this.steps[0].fields.push({
                                field: 'categories',
                                value: item.id,
                                text: item.name
                            })
                        }
                    })
                
                } catch (e) {
                    console.error(e)
                }
            },
            async items() {
                try {
                    const { data } = await axios.get('/api/items')
                    data.data.map(item => {
                        if (item.active) {
                            this.steps[1].fields.push({
                                field: 'items',
                                text: item.name,
                                value: item.id
                            })
                        }
                    })
                
                } catch (e) {
                    console.error(e)
                }
            },
            async contact() {
                try {
                    const { data } = await axios.get('/api/rrsses')
                    data.data.map(item => {
                        if (item.active) {
                            this.steps[2].fields.push({
                                field: 'contact',
                                text: item.name,
                                value: item.id
                            })
                        }
                    })
                
                } catch (e) {
                    console.error(e)
                }
            },
            validation(step) {
                    switch (step) {
                        case 1:
                            return !this.form.categories.length > 0
                            break
    
                        case 2:
                            return !this.form.id_item
                            break;
    
                        case 3:
                            return !this.form.contact.length > 0
                            break;
    
                        case 4:
                            let field = this.steps[3].fields.find(key => key.value === 'skype_user')

                            if (field.active) {
                                return !this.form.name ||
                                !this.form.lastname ||
                                !this.form.phone ||
                                !this.form.email ||
                                !this.form.ig_user ||
                                !this.form.enterpriceName ||
                                !this.form.description ||
                                !this.form.skype_user
                            }
                            
                            return !this.form.name ||
                            !this.form.lastname ||
                            !this.form.phone ||
                            !this.form.email ||
                            !this.form.ig_user ||
                            !this.form.enterpriceName ||
                            !this.form.description

                            break;

                        default:
                            console.error('no coincidences')
                            break;
                    }
            },
            async handleNextStep(index) {
                if (index === 4) {
                try {
                    const valid = await this.$validator.validateAll()
                    valid ?
                    this.submitForm()
                    : this.$swal.fire({
                        type: 'error',
                        title: 'Por Favor Verifique los campos',
                        showCloseButton: true
                    })

                } catch (e) {
                    console.error(e)
                }
                } else this.currentStep++
            },
            async submitForm() {
                this.loading = true
                try {
                    let form = {
                        name: this.form.name,
                        lastname:  this.form.lastname,
                        phone:  this.form.phone,
                        email:  this.form.email,
                        ig_user:  this.form.ig_user,
                        skype_user:  this.form.skype_user,
                        name_company:  this.form.enterpriceName,
                        comment:  this.form.description,
                        id_item:  this.form.id_item,
                        rrss: this.indexedArray(this.form.contact),
                        categories: this.indexedArray(this.form.categories)
                    }

                    const { data } = await axios.post('api/data', form)
                    this.$swal.fire({ type: 'success', title: 'Enviado con exito', showCloseButton: true })
                    this.form = {
                        name: null,
                        lastname: null,
                        phone: null,
                        email: null,
                        ig_user: null,
                        skype_user: null,
                        enterpriceName: null,
                        description: null,
                        id_item: null,
                        categories: [],
                        contact: []
                    }
                    this.currentStep = 1

                } catch (e) {
                    console.error(e)

                    this.$swal.fire({
                        type: 'error',
                        title: 'Ups!',
                        text: 'A ocurrido un error',
                        showCloseButton: true
                    })
                }

                finally {
                    this.loading = false
                }
            }
        }
    }
</script>