<template>
    <v-app>
        <v-content>
            <v-container fluid>
                <router-view />
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
export default {
    name: 'App'
}
</script>
