<template>
    <BaseModal
        ref="form"
        title="Formulario de Citas"
        v-bind="$attrs"
        v-on="$listeners"
        width="80%"
        @accept="accept"
    >
        <template v-slot:content>
            <v-container grid-list-md>
                <v-layout wrap>
                    <!-- NOMBRE -->
                    <v-flex xs12 md6>
                        <v-text-field
                            ref="name"
                            name="name"
                            label="Nombre"
                            v-model="appointment.name"
                            v-validate="'required'"
                            autofocus
                            data-vv-as="Nombre"
                            :error-messages="errors.first('name')"
                            readonly
                        ></v-text-field>
                    </v-flex>

                    <!-- APELLIDO -->
                    <v-flex xs12 md6>
                        <v-text-field
                            name="lastname"
                            label="Apellido"
                            v-model="appointment.lastname"
                            v-validate="'required'"
                            autofocus
                            data-vv-as="Apellido"
                            :error-messages="errors.first('lastname')"
                            readonly
                        ></v-text-field>
                    </v-flex>

                    <!-- EMAIL -->
                    <v-flex xs6 md3>
                        <v-text-field
                            prepend-icon="mdi-email"
                            name="email"
                            label="E-mail"
                            v-model="appointment.email"
                            v-validate="'required'"
                            data-vv-as="Email"
                            readonly
                            :error-messages="errors.first('email')"
                        ></v-text-field>
                    </v-flex>

                    <!-- TELEFONO -->
                    <v-flex xs6 md3>
                        <v-text-field
                            prepend-icon="mdi-phone"
                            name="phone"
                            label="Teléfono"
                            v-model="appointment.phone"
                            v-validate="'required'"
                            data-vv-as="Teléfono"
                            readonly
                            :error-messages="errors.first('phone')"
                        ></v-text-field>
                    </v-flex>

                    <!-- INSTAGRAM -->
                    <v-flex xs6 md3>
                        <v-text-field
                            prepend-icon="mdi-instagram"
                            name="instagram"
                            label="Instagram"
                            v-model="appointment.ig_user"
                            readonly
                        ></v-text-field>
                    </v-flex>

                    <!-- SKYPE -->
                    <v-flex xs6 md3>
                        <v-text-field
                            prepend-icon="mdi-skype"
                            name="skype"
                            label="Skype"
                            v-model="appointment.skype_user"
                            readonly
                        ></v-text-field>
                    </v-flex>

                    <!-- COMPANIA -->
                    <v-flex xs12>
                        <v-text-field
                            name="company"
                            label="Empresa"
                            v-model="appointment.name_company"
                            v-validate="'required'"
                            autofocus
                            data-vv-as="Empresa"
                            :error-messages="errors.first('company')"
                            readonly
                        ></v-text-field>
                    </v-flex>

                    <!-- COMENTARIOS -->
                    <v-flex xs12>
                        <v-textarea
                            label="Comentarios"
                            v-model="appointment.comment"
                            auto-grow
                            rows="2"
                            readonly
                        />
                    </v-flex>

                    <!-- RUBRO -->
                    <v-flex xs6>
                        <h3>Rubro</h3>
                        <span v-if="appointment.item">{{ appointment.item.name }}</span>
                    </v-flex>

                    <!-- SERVICIOS -->
                    <v-flex xs6>
                        <h3>Servicios</h3>
                        <ul>
                            <li
                                v-for="category in appointment.categories"
                                :key="category.id"
                            >{{ category.name }}</li>
                        </ul>
                    </v-flex>

                    <!-- FECHA -->
                    <v-flex xs12 md3>
                        <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            :return-value.sync="appointment.date"
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    label="Fecha"
                                    prepend-icon="mdi-calendar"
                                    :value="dataFormat"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                locale="es"
                                v-model="appointment.date"
                                no-title
                                scrollable
                                :min="$moment().format('YYYY-MM-DD')"
                            >
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="menu = false">Cancelar</v-btn>
                                <v-btn
                                    text
                                    color="primary"
                                    @click="$refs.menu.save(appointment.date)"
                                >ACEPTAR</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-flex>

                    <!-- HORA -->
                    <v-flex xs12 md3>
                        <v-dialog
                            ref="dlgTime"
                            v-model="modal2"
                            :return-value.sync="appointment.time"
                            persistent
                            full-width
                            width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    :value="timeFormat"
                                    label="Hora"
                                    prepend-icon="mdi-clock"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                            <v-time-picker
                                v-if="modal2"
                                v-model="appointment.time"
                                full-width
                                ampm-in-title
                            >
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="modal2 = false">Cancelar</v-btn>
                                <v-btn
                                    text
                                    color="primary"
                                    @click="$refs.dlgTime.save(appointment.time)"
                                >Aceptar</v-btn>
                            </v-time-picker>
                        </v-dialog>
                    </v-flex>

                    <!-- STATUS -->
                    <v-flex xs12>
                        <h4>Status</h4>
                        <v-radio-group v-model="appointment.status" :mandatory="false" row>
                            <v-radio label="Pendiente" :value="0" />
                            <v-radio label="Aprobada" color="primary" :value="1" />
                            <v-radio label="Confirmada" color="success" :value="2" />
                            <v-radio label="Anulado" color="grey darken-1" :value="3" />
                        </v-radio-group>
                    </v-flex>
                </v-layout>
            </v-container>
        </template>
    </BaseModal>
</template>
<script>
import BaseModal from "../../../components/core/admin/base-modal/BaseModal";
import { appointmentService } from "../../../services";
import { mapMutations } from "vuex";

export default {
    name: "AppointmentForm",
    components: { BaseModal },
    data() {
        return {
            appointment: {
                id: null,
                code: null,
                date: null,
                time: null,
                name: null,
                status: 1
            },
            menu: false,
            modal2: false
        };
    },
    computed: {
        dataFormat() {
            return this.appointment &&
                this.$moment(this.appointment.date).isValid()
                ? this.$moment(this.appointment.date).format("DD/MM/YYYY")
                : "";
        },
        timeFormat() {
            return this.appointment &&
                this.$moment(this.appointment.time, "hh:mm:ss").isValid()
                ? this.$moment(this.appointment.time, "hh:mm:ss").format("LT")
                : "";
        }
    },
    methods: {
        ...mapMutations(["setLoading"]),
        open(item) {
            this.appointment = {};

            if (item) {
                this.appointment = { ...item };
            }
            return this.$refs.form.open();
        },
        async accept() {
            const canSubmit = await this.$validator.validateAll();
            if (canSubmit) {
                this.setLoading(true);
                try {
                    this.appointment.id > 0
                        ? appointmentService.update(this.appointment)
                        : appointmentService.add(this.appointment);

                    this.$refs.form.accept(this.appointment);
                } catch (error) {
                    console.error(error);
                } finally {
                    this.setLoading(false);
                }
            }
        }
    }
};
</script>
