<template>
    <v-container fluid>
        <v-layout row>
            <v-flex xs12>
                <v-card>
                    <v-card-title class="title">Citas</v-card-title>
                    <v-divider />
                    <v-card-text>
                        <BaseList
                            :items="items"
                            :itemsExport="itemsExport"
                            :headers="headers"
                            :buttons="{refresh: true, search: true, csv: true}"
                            @add="onAdd"
                            @edit="onEdit"
                            @delete="onDelete"
                            @refresh="getData"
                            @search="onSearch"
                        >
                            <!-- Name -->
                            <template
                                v-slot:item.name="{ item }"
                            >{{ item.name }} {{ item.lastname | truncate(10) }}</template>

                            <!-- Rubro -->
                            <template v-slot:item.item="{ item }">{{ item.item.name | truncate(20)}}</template>

                            <!-- Categorias -->
                            <template
                                v-slot:item.categories="{ item }"
                            >{{ getCategories(item.categories) | truncate(25) }}</template>

                            <!-- FECHA -->
                            <template
                                v-slot:item.date="{ item }"
                            >{{ item.date | moment('DD/MM/YYYY') }} {{ getTimeFormat(item.time) }}</template>
                            <!-- HORA -->
                            <!-- <template v-slot:item.time="{ item }">{{ getTimeFormat(item.time) }}</template> -->
                            <!-- STATUS -->
                            <template v-slot:item.active="{ item }">
                                <v-chip
                                    class="ma-2"
                                    small
                                    :color="status(item.status).color"
                                    :dark="status(item.status).dark"
                                    v-text="status(item.status).text"
                                />
                            </template>
                        </BaseList>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>

        <!-- Formulario -->
        <AppointmentForm ref="form" />
    </v-container>
</template>
<script>
import BaseList from "../../../components/core/admin/base-list/BaseList";
import AppointmentForm from "./AppointmentForm";
import { appointmentService } from "../../../services";
import { mapActions } from "vuex";
import * as _ from "lodash";

export default {
    components: { BaseList, AppointmentForm },
    data() {
        return {
            headers: [
                { text: "#", value: "id" },
                { text: "Nombre", value: "name" },
                // { text: "Apellido", value: "lastname" },
                { text: "Email", value: "email" },
                { text: "Rubro", value: "item" },
                { text: "Categorias", value: "categories" },
                { text: "Fecha", value: "date", align: "center" },
                { text: "Status", value: "active", align: "center" }
            ],
            items: [],
            category: null,
            dialog: false
        };
    },
    async created() {
        this.getData();
        this.getPendings();
    },
    computed: {
        /**
         *  Array con los items a exportar en formato CVS y con los nombres
         *  de los objectos para una facil lectura humana.
         */
        itemsExport() {
            let data = [];
            this.items.forEach(element => {
                const item = _.omit(element, [
                    "item",
                    "categories",
                    "rrss",
                    "id_item"
                ]);

                data.push({
                    ...item,
                    item: element.item.name,
                    categories: this.getCategories(element.categories)
                });
            });
            return data;
        }
    },
    methods: {
        ...mapActions("data", ["getPendings"]),
        async getData(q) {
            try {
                const { data } = await appointmentService.getAll(q || null);
                this.items = data.data;
            } catch (e) {
                console.log(e);
            }
        },
        getTimeFormat(value) {
            return this.$moment(value, "hh:mm:ss").isValid()
                ? this.$moment(value, "h:mm:ss").format("LT")
                : "";
        },
        async onAdd() {
            const result = await this.$refs.form.open();
            if (result) {
                this.getData();
            }
        },
        async onEdit(item) {
            const result = await this.$refs.form.open(item);
            if (result) {
                this.getData();
                this.getPendings();
            }
        },
        async onDelete(item) {
            const { value } = await this.$swal({
                title: "¿ Desea eliminar el registro ?",
                showCancelButton: true,
                focusCancel: true,
                type: "question",
                confirmButtonText: "Si, eliminar",
                cancelButtonText: "No, cancelar"
            });

            if (value) {
                try {
                    const { data } = await appointmentService.remove(item.id);
                    this.getData();
                    this.getPendings();
                } catch (error) {
                    console.error(error);
                }
            }
        },
        async onSearch(text) {
            const q = { query: text };
            this.getData(q);
        },
        status(value) {
            switch (value) {
                case 0:
                    return { color: "default", text: "pendiente" };
                    break;
                case 1:
                    return { color: "primary", text: "aprobado" };
                    break;
                case 2:
                    return { color: "success", text: "confirmado" };
                    break;
                case 3:
                    return {
                        color: "grey darken-1",
                        text: "anulado",
                        dark: true
                    };
                    break;
            }
        },
        getCategories(categories) {
            let items = [];
            categories.forEach(element => {
                items.push(element.name);
            });
            return items.toString();
        }
    }
};
</script>

