<template>
    <v-app id="login">
        <v-content>
            <v-container fluid fill-height class="background">
                <v-layout align-center justify-center>
                    <v-flex flex xs12 sm10 md8 lg4>
                        <v-card class="elevation-1">
                            <v-card-title>
                                <div class="layout column align-center">
                                    <a href="/">
                                        <img src="https://www.jumperr.com/images/logo/logojumperr.svg" width="200" />
                                    </a>
                                    <span class="display-1 font-weight-light text-xs-center mt-2">
                                        Bienvenido
                                    </span>
                                </div>
                            </v-card-title>
                            <v-card-text>
                                <v-flex xs12 mx-4 mt-4>
                                    <LoginForm :user="user" @login="login" />
                                </v-flex>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import { mapState, mapActions } from "vuex";
import LoginForm from "../../components/core/admin/auth/LoginForm";

export default {
    components: { LoginForm },
    data() {
        return {
            user: {
                email:
                    process.env.NODE_ENV === "development"
                        ? "admin@backoffice.com"
                        : "",
                password:
                    process.env.NODE_ENV === "development" ? "12345678" : ""
            }
        };
    },

    computed: {
        ...mapState("auth", ["error"])
    },
    methods: {
        ...mapActions("auth", ["signIn", "clearAuthError"]),
        async login() {
            if (await this.$validator.validateAll()) {
                await this.signIn(this.user);

                if (!this.error) {
                    this.$router.push("/admin");
                } else {
                    console.log(this.error);
                }
            }
        }
    }
};
</script>
<style scoped lang="css">
#login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
}

.background {
    background-image: url("/assets/images/bg-login.jpg");
    background-size: cover;
}
</style>
