<template>
    <v-container>
        <v-layout wrap>
            <v-flex xs12>
                <QuickAccessButtons />
            </v-flex>

            <v-flex class="mt-5" xs12>
                <Calendar />
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import QuickAccessButtons from "../../../components/dashboard/QuickAccessButtons";
import Calendar from "../../../components/dashboard/Calendar";

export default {
    name: "Dashboard",
    components: { QuickAccessButtons, Calendar }
};
</script>