<template>
    <v-navigation-drawer :value="drawer" @input="setDrawer($event)" app color="grey darken-4" dark>
        <v-toolbar color="deep-orange" dark>
            <a href="/"><img
                class="mx-auto"
                src="/assets/images/logo.svg"
                height="42"
                alt="Jumperr"
            />
            </a>
            <!--
            <v-toolbar-title class="ml-0 pl-3">
                <span class="hidden-sm-and-down">Jumperr</span>
            </v-toolbar-title>
            -->
        </v-toolbar>
        <v-list dense flat>
            <v-list-item-group v-model="item" color="deep-orange">
                <v-list-item v-for="(item, i) in items" :key="i" :to="item.to">
                    <v-list-item-icon>
                        <v-icon v-text="item.icon"></v-icon>

                        <v-badge
                            v-if="item.badget && item.badget.data() > 0"
                            :color="item.badget.color"
                        >
                            <template v-slot:badge>
                                <span>{{ item.badget.data() }}</span>
                            </template>
                        </v-badge>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title v-text="item.text" />
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
        </v-list>
    </v-navigation-drawer>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
    name: "AppDrawer",
    data() {
        return {
            item: 1,
            items: [
                {
                    text: "Dashboard",
                    to: "/admin/dashboard",
                    icon: "mdi-home"
                },
                {
                    text: "Citas",
                    to: "/admin/appointment",
                    icon: "mdi-account-group",
                    badget: {
                        color: "red",
                        data: () => this.pendings
                    }
                },
                {
                    text: "Categorias",
                    to: "/admin/categories",
                    icon: "mdi-folder-multiple"
                },
                {
                    text: "Rubros",
                    to: "/admin/items",
                    icon: "mdi-office-building"
                },
                {
                    text: "RRSS",
                    to: "/admin/socials",
                    icon: "mdi-share-variant"
                }
            ]
        };
    },
    computed: {
        ...mapState(["drawer"]),
        ...mapState("data", ["pendings"])
    },
    methods: {
        ...mapMutations(["setDrawer"])
    }
};
</script>

