<template>
    <v-footer color="grey darken-4" dark app>
        <small class="deep-orange--text">&copy; Jumperr Digital Company - {{ new Date().getFullYear() }}</small>
    </v-footer>
</template>
<script>
export default {
    name: "AppFooter"
};
</script>


