<template>
    <v-app-bar app color="deep-orange" dark>
        <v-app-bar-nav-icon @click.stop="toggleDrawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Panel Super Administrativo</v-toolbar-title>
        <v-spacer />

        <v-menu offset-y :nudge-bottom="5">
            <template v-slot:activator="{ on }">
                <v-btn text v-on="on">{{ user.email }}</v-btn>
            </template>
            <v-list flat>
                <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    :to="!item.href ? { name: item.name } : null"
                    @click="item.click"
                >
                    <v-list-item-action v-if="item.icon">
                        <v-icon v-text="item.icon" />
                    </v-list-item-action>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-app-bar>
</template>
<script>
import { mapMutations, mapState } from "vuex";

export default {
    name: "AppToolBar",
    data() {
        return {
            items: [
                /*
                {
                    icon: "mdi-account-box",
                    name: "profile",
                    title: "Perfíl",
                    click: e => {}
                },
                */
                {
                    icon: "mdi-logout",
                    // name: "Login",
                    title: "Salir",
                    click: e => {
                        this.logout();
                        this.$router.push({ name: "Login" });
                    }
                }
            ]
        };
    },
    computed: {
        ...mapState("auth", ["user"])
    },
    methods: {
        ...mapMutations(["toggleDrawer"]),
        ...mapMutations("auth", ["logout"])
    }
};
</script>


