<template>
    <v-app id="inspire">
        <!-- Drawer -->
        <AppDrawer />

        <!-- TOOLBAR -->
        <AppToolBar />

        <!-- ROUTER VIEW -->
        <router-view></router-view>

        <!-- FOOTER -->
        <AppFooter />
    </v-app>
</template>

<script>
import AppToolBar from "../../components/core/admin/AppToolBar";
import AppFooter from "../../components/core/admin/AppFooter";
import AppDrawer from "../../components/core/admin/AppDrawer";

export default {
    components: { AppToolBar, AppFooter, AppDrawer }
};
</script>