<template>
    <div>
        <BaseButton v-on="$listeners" v-bind="$attrs" />
        <BaseTable v-bind="$attrs" v-on="$listeners">
            <!-- Agregamos todos los slots de los componentes al Slot Principal -->
            <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
                <slot :name="slot" v-bind="scope" />
            </template>
        </BaseTable>
    </div>
</template>
<script>
import BaseButton from "./BaseButtons";
import BaseTable from "./BaseTable";

export default {
    name: "BaseList",
    components: { BaseButton, BaseTable }
};
</script>

