<template>
    <v-layout row wrap px-2>
        <!-- BOTON AGREGAR -->
        <v-flex xs6 md4>
            <v-tooltip top>
                <template v-slot:activator="{ on }">
                    <v-btn
                        v-if="$vuetify.breakpoint.mdAndUp && buttons.add"
                        tile
                        color="primary"
                        v-on="on"
                        @click="$emit('add', $event)"
                    >Agregar</v-btn>
                </template>
                <span>Crear nuevo registro</span>
            </v-tooltip>

            <v-btn
                v-if="$vuetify.breakpoint.smAndDown && buttons.add"
                fab
                dark
                small
                color="primary"
                @click="$emit('add', $event)"
            >
                <v-icon dark>mdi-plus</v-icon>
            </v-btn>
            <!-- BOTON REFRESCAR -->

            <v-tooltip top>
                <template v-slot:activator="{ on }">
                    <v-btn text icon class="sm" v-if="buttons.refresh" v-on="on" light>
                        <v-icon @click="$emit('refresh', $event)">mdi-refresh</v-icon>
                    </v-btn>
                </template>
                <span>Refrescar la lista de datos</span>
            </v-tooltip>

            <!-- BOTON DE EXPORTACION -->
            <vue-json-to-csv
                separator=";"
                v-if="buttons.csv && itemsExport.length > 0"
                csv-title="data_citas"
                :json-data="itemsExport"
            >
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" tile v-on="on">
                            <v-icon>mdi-download</v-icon>CSV
                        </v-btn>
                    </template>
                    <span>Exportar los datos a Csv</span>
                </v-tooltip>
            </vue-json-to-csv>
        </v-flex>

        <v-spacer />
        <!-- BUSCADORR -->
        <v-flex xs12 sm6 md4 v-if="buttons.search">
            <v-text-field
                append-icon="mdi-magnify"
                label="Buscar..."
                single-line
                hide-details
                clearable
                light
                @input="$emit('search', $event)"
            />
        </v-flex>
    </v-layout>
</template>
<script>
import VueJsonToCsv from "vue-json-to-csv";

export default {
    name: "BaseButtons",
    components: { VueJsonToCsv },
    props: {
        buttons: {
            type: Object,
            default: { add: true, refresh: true, search: true }
        },
        itemsExport: {
            type: Array,
            default: []
        }
    }
};
</script>

