<template>
    <v-layout row wrap px-2>
        <v-flex xs12>
            <v-data-table
                :headers="dataHeaders"
                :items="items"
                :items-per-page="15"
                class="elevation-1"
            >
                <template v-slot:item.action="{ item }">
                    <!-- EDITAR -->
                    <v-tooltip top>
                        <template v-slot:activator="{ on }">
                            <v-icon class="mr-2" v-on="on" @click="$emit('edit', item)">mdi-pencil</v-icon>
                        </template>
                        <span>Modificar el registro</span>
                    </v-tooltip>

                    <!-- ELIMINAR -->
                    <v-tooltip top>
                        <template v-slot:activator="{ on }">
                            <v-icon class="mr-2" v-on="on" @click="$emit('delete', item)">mdi-delete</v-icon>
                        </template>
                        <span>Eliminar el registro</span>
                    </v-tooltip>

                </template>
                <!-- Agregamos todos los slots de la tabla al Slot Principal -->
                <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
                    <slot :name="slot" v-bind="scope" />
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
export default {
    props: {
        headers: {
            type: Array,
            required: true
        },
        items: {
            type: Array,
            required: true
        },
        actions: {
            type: Array,
            default: () => ["edit", "delete"]
        }
    },
    data() {
        return {
            dataHeaders: this.headers
        };
    },
    mounted() {
        if (this.actions.length > 0) {
            this.dataHeaders.push({
                text: "Actions",
                value: "action",
                width: "100px",
                align: "center",
                sortable: false
            });
        }
    }
};
</script>

            