<template>
    <v-layout justify-center>
        <v-dialog
            v-model="dialog"
            persistent
            :fullscreen="$vuetify.breakpoint.smAndDown"
            :width="width"
        >
            <v-card>
                <v-card-title>
                    <span class="headline">{{ title }}</span>
                    <v-spacer />

                    <v-btn icon @click="cancel">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-card-title>

                <v-divider />

                <v-card-text>
                    <slot name="content"></slot>
                </v-card-text>

                <v-divider />

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn tile @click="cancel">Cancelar</v-btn>
                    <v-btn
                        tile
                        color="primary"
                        @click="$emit('accept', $event)"
                        :disabled="errors.any()"
                        :loading="loading"
                    >Guardar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>
<script>
import { mapState } from "vuex";
export default {
    name: "BaseModal",
    inject: ["$validator"],
    props: {
        width: {
            type: String,
            default: "80%"
        },
        title: {
            type: String,
            default: "Form Modal"
        }
    },
    data() {
        return {
            dialog: false,
            resolve: null
        };
    },
    computed: {
        ...mapState(["loading"]),
        isFormDirty() {
            return Object.keys(this.fields).some(key => this.fields[key].dirty);
        }
    },
    methods: {
        open() {
            this.dialog = true;
            this.$validator.reset();
            return new Promise((resolve, reject) => {
                this.resolve = resolve;
                this.reject = reject;
            });
        },
        accept(item) {
            this.dialog = false;
            this.resolve(item);
        },
        cancel() {
            this.dialog = false;
            this.resolve(false);
            this.$emit("cancel");
        }
    }
};
</script>
