<template>
    <v-form>
        <v-flex xs12>
            <!-- EMAIL -->
            <v-text-field
                append-icon="mdi-account"
                name="email"
                label="E-mail"
                type="email"
                v-model="user.email"
                v-validate="'required|email'"
                :error-messages="errors.first('email')"
                @input="clearAuthError"
            ></v-text-field>
            <!-- PASSWORD -->
            <v-text-field
                append-icon="mdi-lock"
                name="password"
                label="Password"
                id="password"
                type="password"
                v-model="user.password"
                v-validate="'required'"
                :error-messages="errors.first('password')"
                @input="clearAuthError"
            ></v-text-field>
            <!-- <a href="#">¿Has olvidado la contraseña?</a> -->
        </v-flex>

        <v-flex xs12>
            <v-btn
                large
                block
                color="primary"
                @click="$emit('login')"
                :disabled="errors.any()"
                :loading="loading"
            >Iniciar Sesion</v-btn>
            <p></p>
            <v-alert
                :value="errorMessage.length > 0"
                color="error"
                icon="mdi-warning"
                dismissible
                outlined
            >{{ errorMessage }}</v-alert>
            <!--
            <p class="text-xs-center mt-4">
                ¿No tienes cuenta?
                <router-link :to="{ name: 'Signup'}">Registrate</router-link>
            </p>
            -->
        </v-flex>
    </v-form>
</template>
<script>
import { mapState, mapMutations } from "vuex";

export default {
    name: "LoginForm",
    props: {
        user: {
            type: Object,
            required: true,
            validator: user => {
                if (
                    !user.hasOwnProperty("email") ||
                    !user.hasOwnProperty("password")
                ) {
                    console.warn("Usuario inválido");
                    return false;
                }
                return true;
            }
        }
    },
    computed: {
        ...mapState(["loading"]),
        ...mapState("auth", ["errorMessage"])
    },
    methods: {
        ...mapMutations("auth", ["clearAuthError"])
    }
};
</script>
