<template>
    <BaseModal
        ref="form"
        title="Formulario de RRSS"
        v-bind="$attrs"
        v-on="$listeners"
        width="60%"
        @accept="accept"
    >
        <template v-slot:content>
            <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex xs12>
                        <v-text-field
                            ref="name"
                            name="name"
                            label="Nombre *"
                            v-model="social.name"
                            v-validate="'required'"
                            autofocus
                            data-vv-as="Nombre"
                            :error-messages="errors.first('name')"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-checkbox v-model="social.active" name="active" label="Activa"></v-checkbox>
                    </v-flex>
                </v-layout>
            </v-container>
        </template>
    </BaseModal>
</template>
<script>
import BaseModal from "../../../components/core/admin/base-modal/BaseModal";
import { socialService } from "../../../services";
import { mapMutations } from "vuex";

export default {
    name: "SocialForm",
    components: { BaseModal },
    data() {
        return {
            social: {
                id: null,
                code: null,
                name: null,
                active: true
            }
        };
    },
    methods: {
        ...mapMutations(["setLoading"]),
        open(item) {
            if (item) {
                this.social = { ...item };
            }
            return this.$refs.form.open();
        },
        async accept() {
            const canSubmit = await this.$validator.validateAll();
            if (canSubmit) {
                this.setLoading(true);
                try {
                    this.social.id > 0
                        ? socialService.update(this.social)
                        : socialService.add(this.social);

                    this.$refs.form.accept(this.social);
                } catch (error) {
                    console.error(error);
                } finally {
                    this.setLoading(false);
                }
            }
        }
    }
};
</script>
