<template>
    <v-container fluid>
        <v-layout row>
            <v-flex xs12>
                <v-card>
                    <v-card-title class="title">Redes Sociales</v-card-title>
                    <v-divider />
                    <v-card-text>
                        <BaseList
                            :items="items"
                            :headers="headers"
                            @add="onAdd"
                            @edit="onEdit"
                            @delete="onDelete"
                            @refresh="getData"
                            @search="onSearch"
                        >
                            <template v-slot:item.active="{ item }">
                                <v-chip
                                    class="ma-2"
                                    small
                                    :color="item.active ? 'green' : 'default'"
                                    :text-color="item.active ? 'white' : 'black'"
                                >{{ item.active ? 'activo' : 'inactivo' }}</v-chip>
                            </template>
                        </BaseList>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>

        <!-- Formulario -->
        <SocialForm ref="form" />
    </v-container>
</template>
<script>
import BaseList from "../../../components/core/admin/base-list/BaseList";
import SocialForm from "./SocialForm";
import { socialService } from "../../../services";

export default {
    components: { BaseList, SocialForm },
    data() {
        return {
            headers: [
                { text: "#", value: "id" },
                { text: "Nombre", value: "name" },
                { text: "Status", value: "active", align: "center" }
            ],
            items: [],
            category: null,
            dialog: false
        };
    },
    async created() {
        this.getData();
    },
    methods: {
        async getData(q) {
            try {
                const { data } = await socialService.getAll(q || null);
                this.items = data.data;
            } catch (e) {
                console.log(e);
            }
        },
        async onAdd() {
            const result = await this.$refs.form.open();
            if (result) {
                this.getData();
            }
        },
        async onEdit(item) {
            const result = await this.$refs.form.open(item);
            if (result) {
                this.getData();
            }
        },
        async onDelete(item) {
            const { value } = await this.$swal({
                title: "¿ Desea eliminar el registro ?",
                showCancelButton: true,
                focusCancel: true,
                type: "question",
                confirmButtonText: "Si, eliminar",
                cancelButtonText: "No, cancelar"
            });

            if (value) {
                try {
                    const { data } = await socialService.remove(item.id);
                    this.getData();
                } catch (error) {
                    console.error(error);
                }
            }
        },
        async onSearch(text) {
            const q = { query: text };
            this.getData(q);
        }
    }
};
</script>

