<template>
    <div>
        <v-app-bar dark app>
            <v-spacer />
            <v-toolbar-title>Skill Marketing</v-toolbar-title>
            <v-spacer />
        </v-app-bar>

        <router-view class="mb-8" />
        
        <v-footer dark padless absolute>
            <v-layout justify-center wrap>
                <v-flex
                    py-4
                    text-center
                    deep-orange--text
                    xs12
                >
                    <small>© Jumperr Digital Company - {{ new Date().getFullYear() }}</small>
                </v-flex>
            </v-layout>
        </v-footer>
    </div>
</template>

<script>
import AppToolBar from "../../components/core/admin/AppToolBar";
import AppFooter from "../../components/core/admin/AppFooter";
import AppDrawer from "../../components/core/admin/AppDrawer";

export default {
    components: { AppToolBar, AppFooter, AppDrawer }
}
</script>
<style>
.mb-8 {
    margin-bottom: 12%;
}
</style>
